{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": false,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^@config/(.*)$",
    "^@interface/(.*)$",
    "^@service/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^@ui/(.*)$",
    "^@icon/(.*)$",
    "^@data/(.*)$",
    "^@constants/(.*)$",
    "^@lib/(.*)$",
    "^@assets/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true
}
